<html>
  <style>
    body{
      font-size: 13pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Restaurants list</h1>
  <table border = 1>
  <thead><tr><th>Restaurant ID</th><th>Restaurant Name</th><tr><thead>
  <tbody>
    {% for row_index in range(result['name']|count) %}
        <tr>
          <td>{{ result['id'][row_index][0] }}</td>
          <td>{{ result['name'][row_index][0] }}</td>
        </tr>
    {% endfor %}
  </tbody>
  </table>

  <form method="POST" action="/add_eaten">
  <h4>I have eaten there: </h4>
  <p>Restaurant ID:
  <input type="text" name="rid">
  Score (0-5):
  <input type="text" name="score">
  </p>
  <p>Review:
  <input type="text" size="70" name="review">
  </p>
  <input type="submit" value="add"></p>
  </form>

  <form method="POST" action="/add_eaten">
  <h4>I want to eat there: </h4>
  <p>Restaurant ID:
  <input type="text" name="rid">
  </p>
  <input type="submit" value="add"></p>
  <form method="POST" action="/back">
  <p><input type="submit" name="submit" value="Back to Person Profile">
  </form>
</body>

</html>
