<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Restaurants list</h1>
  <table border = 1>
  <thead><tr><th>Restaurant ID</th><th>Restaurant name</th><tr><thead>
  <tbody>
    {% for row_index in range(result['name']|count) %}
        <tr>
          <td>{{ result['id'][row_index][0] }}</td>
          <td>{{ result['name'][row_index][0] }}</td>
        </tr>
    {% endfor %}
  </tbody>
  </table>

  <form method="POST" action="/add_eaten">
  <p>I have eaten there: </p>
  <p>rid:
  <input type="text" name="rid">
  </p>
  <p>score:
  <input type="text" name="score">
  </p>
  <p>review:
  <input type="text" name="review">
  </p>
  <input type="submit" value="add"></p>
  </form>

  <form method="POST" action="/add_marked">
  <h4>I want to eat there: </h4>
  <p>Restaurant ID:
  <input type="text" name="rid">
  </p>
  <input type="submit" value="add"></p>
  </form>

  <form method="POST" action="/back_to_personal_profile">
  <p><input type="submit" name="submit" value="Back to Person Profile">
  </p>
  </form>
</body>

</html>
