<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Profile</h1>
  <form method="POST" action="/personal_profile">
      <p><input type="submit" name="submit" value="Edit personal profile"></p>
  </form>
  <p> Email: {{user_info['email']}} </p>
  <p> Name: {{user_info['name']}} </p>
  <p> Gender: {{user_info['gender']}} </p>
  <p> Date of birth: {{user_info['DOB']}} </p>
  <p> Location: {{user_info['lid']}} </p>

  <form method="POST" action="/see_request">
      <p><input type="submit" name="submit" value="see all the request sent to you"></p>
  </form>

  <form method="POST" action="/food_profile">
      <p><input type="submit" name="submit" value="Edit food profile"></p>
  </form>

  <h1>Eaten</h1>

  <table border = 1>
  <thead><tr><th>Restaurant Name</th><th>Score</th><th>Review</th><tr><thead>
  <tbody>
    {% for row_index in range(user_eaten['rname']|count) %}
        <tr>
          <td>{{ user_eaten['rname'][row_index][0] }}</td>
          <td>{{ user_eaten['score'][row_index][0] }}</td>
          <td>{{ user_eaten['review'][row_index][0] }}</td>
        </tr>
    {% endfor %}
  </tbody>
  </table>

  <h1>Marked</h1>

  <div>
    {% for n in user_marked %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <form method="POST" action="/swipe">
      <p><input type="submit" name="submit" value="Start"></p>
  </form>
</body>


</html>
