<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Do you like this one?</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
  <h3>The person has eaten at:</h3>
  <div>{{rests1}}</div>

  <div>
    {% for n in rests1 %}
    <div>{{n}}</div>
    <form method="POST" action="/restaurant">
        <input type="submit" name="submit" value="Check Restaurant">
    </form>
    {% endfor %}
  </div>
  
  <h3>The person wants to eat at:</h3>
  <div>{{rests2}}</div>

  <div>
    {% for n in rests2 %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<form method="POST" action="/swipe">
    <p><input type="submit" name="submit" value="No">
    <input type="submit" name="submit" value="Yes"></p>
</body>


</html>
